.section-faq {
  /* padding: 5rem; */
  padding: 1rem;
}

.faq-top--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.faq-mid-1--div,
.faq-mid-1--div h3 {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.faq-mid-1--div {
  border-bottom: 1px solid gray;
  padding-bottom: 2rem;
}

.faq-mid--container {
  width: 50%;
}
.faq-mid-1-heading-icon--container {
  display: flex;
  justify-content: space-between;
}

.faq-still-questions {
  background-color: #f9fafb;
  padding: 2rem;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.faq-still-questions button {
  background-color: rgba(127, 86, 217, 1);
  color: white;
  font-weight: bold;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media (max-width:768px) {
    .faq-mid--container{
        width: 100%;
    }
    
}