
.section-companies{
   display: block;
}

.section--div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 3rem;
    margin: 10rem 0;
}

figure{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.companies-img--container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

@media (max-width:768px) {
    .section--div p{
        font-size: 1.5rem;
    }
    .section-companies{
        padding: 1rem;
        margin: 0;
        height: max-content;
    }
    .companies-img--container figure img {
        width: 40px;
    }
    
}