

.section-freetrial{
    background-color: #F9FAFB;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.freetrial-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}

.freetrial-btns--container {
    display: flex;
    gap: 3rem;
    justify-content: center;

}

.freetrial-btns--container button{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.511);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.get-started{
    background-color: rgba(127, 86, 217, 1);
    font-weight: bold;
    color: white;
}

@media (max-width:768px) {
    .freetrial-btns--container{
        display: flex;
        flex-direction: column;
    }
}