
.section-footer{
    padding: 5rem 1rem;
    

}

.section-footer-container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    margin-bottom: 4rem;
    gap: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);

}

.grid-five--cols{
    grid-template-columns: repeat(6,1fr);
}

.section-footer-bottom--container{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(128, 128, 128, 0.534);
    padding-top: 3rem;
}

.section-footer-profile--container{
    display: flex;
    align-items: center;
    /* border: 1px solid red;    */
    gap: 2rem;

}   

.footer-1--div ul li{
    margin-bottom: 1rem;
    color: rgb(39, 38, 38);
}

@media (max-width:769px) {
    .section-footer-container{
        grid-template-columns: repeat(3,1fr);
    }
    
}

@media (max-width:576px) {
    .section-footer-container{
        grid-template-columns: repeat(2,1fr);
        place-items: center;
    }
    .section-footer-bottom--container {
        flex-direction: column;
        align-items: start;
    }
}

